<span class="h2" mat-dialog-title>Player Faction</span>
<mat-dialog-content>
  <form name="playerFactionFormGroup" id="form" [formGroup]="playerFactionFormGroup" fxLayout="column">

    <mat-form-field>
      <mat-label>Player Name</mat-label>
      <input matInput placeholder="John Doe" formControlName="playerName">
      <mat-icon matSuffix>person</mat-icon>
      <mat-error>
        {{ this.playerFactionFormGroup.controls.playerName.errorMessage }}
      </mat-error>
    </mat-form-field>

    <div fxFlexFill fxLayoutGap="10px grid">
      <mat-form-field>
        <mat-label>Faction</mat-label>
        <mat-select placeholder="Faction" formControlName="playerFactionType" required>
          <mat-option [value]="1">Polania Republic</mat-option>
          <mat-option [value]="2">Saxony Empire</mat-option>
          <mat-option [value]="3">Crimean Khanate</mat-option>
          <mat-option [value]="4">Nordic Kingdom</mat-option>
          <mat-option [value]="5">Rusviet Union</mat-option>
          <mat-option [value]="6">Clan Albion</mat-option>
          <mat-option [value]="7">Togawa Shogunate</mat-option>
        </mat-select>
        <mat-icon matSuffix>flag_circle</mat-icon>
        <mat-error>
          {{ this.playerFactionFormGroup.controls.playerFactionType.errorMessage }}
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Popularity</mat-label>
        <mat-select placeholder="Popularity" formControlName="popularity" required>
          <mat-option *ngFor="let item of this.popularityArray; index as i" [value]="item">{{item}}</mat-option>
        </mat-select>
        <mat-icon matSuffix>favorite</mat-icon>
        <mat-error>
          {{ this.playerFactionFormGroup.controls.popularity.errorMessage }}
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Victory Stars</mat-label>
        <mat-select placeholder="Victory Stars" formControlName="victoryStars" required>
          <mat-option *ngFor="let item of this.victoryStarsArray; index as i" [value]="item">{{item}}</mat-option>
        </mat-select>
        <mat-icon matSuffix>star</mat-icon>
        <mat-error>
          {{ this.playerFactionFormGroup.controls.victoryStars.errorMessage }}
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Territories</mat-label>
        <mat-select placeholder="Territories" formControlName="territories" required>
          <mat-option *ngFor="let item of this.territoriesArray; index as i" [value]="item">{{item}}</mat-option>
        </mat-select>
        <mat-icon matSuffix>hexagon</mat-icon>
        <mat-error>
          {{ this.playerFactionFormGroup.controls.territories.errorMessage }}
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Resources</mat-label>
        <mat-select placeholder="Resources" formControlName="resources" required>
          <mat-option *ngFor="let item of this.resourcesArray; index as i" [value]="item">{{item}}</mat-option>
        </mat-select>
        <mat-icon matSuffix>forest</mat-icon>
        <mat-error>
          {{ this.playerFactionFormGroup.controls.resources.errorMessage }}
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Money</mat-label>
        <mat-select placeholder="Money" formControlName="money" required>
          <mat-option *ngFor="let item of this.moneyArray; index as i" [value]="item">{{item}}</mat-option>
        </mat-select>
        <mat-icon matSuffix>paid</mat-icon>
        <mat-error>
          {{ this.playerFactionFormGroup.controls.money.errorMessage }}
        </mat-error>
      </mat-form-field>

    </div>

    <mat-form-field fxFill *ngIf="this.structureBonusMetaData">
      <mat-label>{{this.structureBonusMetaData.question}}</mat-label>
      <mat-select [placeholder]="this.structureBonusMetaData.question" formControlName="structureBonusTerritories" required>
        <mat-option *ngFor="let item of this.structureBonusesArray; index as i" [value]="item">{{item}}</mat-option>
      </mat-select>
      <mat-icon matSuffix>add_location</mat-icon>
      <mat-error>
        {{ this.playerFactionFormGroup.controls.structureBonusTerritories.errorMessage }}
      </mat-error>
    </mat-form-field>

  </form>
</mat-dialog-content>
<mat-dialog-actions>
    <div fxLayout="row" fxLayoutGap="1em" fxLayoutAlign="start center">
        <button mat-stroked-button color="primary" (click)="saveDialog()">
          Save <mat-icon>save</mat-icon>
        </button>
        <button mat-stroked-button (click)="closeDialog()">
          Cancel <mat-icon>close</mat-icon>
        </button>
    </div>
</mat-dialog-actions>
