<mat-card class="card">
    <mat-card-header>
      <div mat-card-avatar [ngClass]="{'header-image-polania' : this.model.playerFactionType === this.polaniaFaction,
                                        'header-image-saxony' : this.model.playerFactionType === this.saxonyFaction,
                                        'header-image-crimea' : this.model.playerFactionType === this.crimeaFaction,
                                        'header-image-nordic' : this.model.playerFactionType === this.nordicFaction,
                                        'header-image-rusviet' : this.model.playerFactionType === this.rusvietFaction,
                                        'header-image-albion' : this.model.playerFactionType === this.albionFaction,
                                        'header-image-togawa' : this.model.playerFactionType === this.togawaFaction}"></div>
      <mat-card-title>{{this.model.factionName}}</mat-card-title>
      <mat-card-subtitle> {{this.model.factionCharacters}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="./../../../assets/img/scythe/character_img/{{model.imageName}}.jpg"> 
    <mat-card-content>
      <div class="total">
        <mat-icon matBadge="{{this.model.popularity}}" matBadgeColor="accent" matTooltip="Popularity">favorite</mat-icon>
      </div>
      <div class="total">
        <mat-icon matBadge="{{this.model.victoryStars}}" matBadgeColor="accent" matTooltip="Victory stars">star</mat-icon>
        <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
      </div>
      <div class="total">
        <mat-icon matBadge="{{this.model.territories}}" matBadgeColor="accent" matTooltip="Territories">hexagon</mat-icon>
        <mat-progress-bar mode="determinate" value="60"></mat-progress-bar>
      </div>
      <div class="total">
        <mat-icon matBadge="{{this.model.resources}}" matBadgeColor="accent" matTooltip="Resources">forest</mat-icon>
        <mat-progress-bar mode="determinate" value="30"></mat-progress-bar>
      </div>
      <div class="total">
        <mat-icon matBadge="{{this.model.money}}" matBadgeColor="accent" matTooltip="Money">paid</mat-icon>
        <mat-progress-bar mode="determinate" value="12"></mat-progress-bar>
      </div>
      <div class="total">
        <mat-icon matBadge="{{this.model.structureBonuses}}" matBadgeColor="accent" matTooltip="Structure Bonuses">home</mat-icon>
        <mat-progress-bar mode="determinate" value="9"></mat-progress-bar>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Edit</button>
      <button mat-button>Delete</button>
    </mat-card-actions>
  </mat-card>

  <!-- <pre>{{model | json}}</pre> -->